In [ ]:
import requests
import json
from pyscbwrapper import SCB

scb = SCB('sv', 'Bo', 'Bo0201')
url_for_search = scb.url + "/search"  
scb.info()

[{'id': 'BO0201A',
  'type': 'l',
  'text': 'Pris per kvm för nybyggda ordinära flerbostadshus'},
 {'id': 'BO0201B',
  'type': 'l',
  'text': 'Pris per lägenhet för nybyggda ordinära flerbostadshus'},
 {'id': 'BO0201C',
  'type': 'l',
  'text': 'Pris per kvm för nybyggda ordinära gruppbyggda småhus'},
 {'id': 'BO0201D',
  'type': 'l',
  'text': 'Pris per lägenhet för nybyggda ordinära gruppbyggda småhus'},
 {'id': 'BO0201M',
  'type': 'l',
  'text': 'Tekniska uppgifter för nybyggda ordinära flerbostadshus'},
 {'id': 'BO0201S',
  'type': 'l',
  'text': 'Tekniska uppgifter för nybyggda ordinära gruppbyggda småhus'},
 {'id': 'BO0201E',
  'type': 'l',
  'text': 'Areor per lägenhet för nybyggda ordinära flerbostadshus'},
 {'id': 'BO0201F',
  'type': 'l',
  'text': 'Lägenheter/rumsenheter i nybyggda ordinära bostadshus'},
 {'id': 'BO0201N',
  'type': 'l',
  'text': 'Kostnader per kvm och per lägenhet för flerbostadshus och gruppbyggda småhus (äldre serier)'},
 {'id': 'BO0201J',
  'type': 'l',
  'text': 'Areor per lägenhet för nybyggda ordinära flerbostadshus (äldre serier)'},
 {'id': 'BO0201K',
  'type': 'l',
  'text': 'Lägenheter/rumsenheter i nybyggda ordinära bostadshus 1998-2006 (äldre serier)'},
 {'id': 'BO0201L',
  'type': 'l',
  'text': 'Byggnadsobjekt/lägenheter/rumsenheter i nybyggda bostadshus 1998-2006 (äldre serier)'}]

In [2]:
scb.go_down('BO0201A') #Pris per kvm för nybyggda ordinära flerbostadshus
scb.info()

[{'id': 'PrisPerAreorFH02',
  'type': 't',
  'text': 'Pris per kvm för nybyggda ordinära flerbostadshus efter region och brutto-/nettopris. År 1994 - 2023',
  'updated': '2024-12-06T08:00:00'},
 {'id': 'PrisPerAreorFH04',
  'type': 't',
  'text': 'Pris per kvm för nybyggda ordinära flerbostadshus efter region, upplåtelseform och brutto-/nettopris. År 1994 - 2023',
  'updated': '2024-12-06T08:00:00'},
 {'id': 'PrisPerAreorFH03',
  'type': 't',
  'text': 'Pris per kvm för nybyggda ordinära flerbostadshus efter region, byggherre och brutto-/nettopris. År 1994 - 2023',
  'updated': '2024-12-06T08:00:00'}]

In [3]:
scb.go_down('PrisPerAreorFH02')
scb.info()

{'title': 'Nybyggda ordinära flerbostadshus efter region, brutto-/nettopris, tabellinnehåll och år',
 'variables': [{'code': 'Region',
   'text': 'region',
   'values': ['00', '0001', '0010', '0020', '0030', '0002', '4', '5', '6'],
   'valueTexts': ['Riket',
    'Storstadsområdena',
    'Stor-Stockholm',
    'Stor-Göteborg',
    'Stor-Malmö',
    'Länsregionerna I - III',
    'Länsregion I (norr)',
    'Länsregion II (mitten)',
    'Länsregion III (syd)']},
  {'code': 'BruttoNetto',
   'text': 'brutto-/nettopris',
   'values': ['1', '2'],
   'valueTexts': ['brutto', 'netto']},
  {'code': 'ContentsCode',
   'text': 'tabellinnehåll',
   'values': ['000003I5',
    '000003I3',
    '000003I1',
    '000003I4',
    '000003I2',
    '000003I6'],
   'valueTexts': ['Byggnadsobjekt, antal som prisstatistiken baseras på',
    'Lägenheter, antal som prisstatistiken baseras på',
    'Lägenhetsarea/lägenhet, kvm',
    'Markpris/lägenhetsarea, kr',
    'Byggnadspris/lägenhetsarea, kr',
    'Totalt produktionspris/lägenhetsarea, kr']},
  {'code': 'Tid',
   'text': 'år',
   'values': ['1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023'],
   'valueTexts': ['1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023'],
   'time': True}]}

In [4]:
scb.set_query(region=['Riket',
    'Stor-Stockholm',
    'Stor-Göteborg',
    'Stor-Malmö'], 
              BruttoNetto=['brutto', 'netto'],
              ContentsCode=["Lägenheter, antal som prisstatistiken baseras på"], 
              år=["2002", "2012", "2022"])
scb.info()

{'title': 'Nybyggda ordinära flerbostadshus efter region, brutto-/nettopris, tabellinnehåll och år',
 'variables': [{'code': 'Region',
   'text': 'region',
   'values': ['00', '0001', '0010', '0020', '0030', '0002', '4', '5', '6'],
   'valueTexts': ['Riket',
    'Storstadsområdena',
    'Stor-Stockholm',
    'Stor-Göteborg',
    'Stor-Malmö',
    'Länsregionerna I - III',
    'Länsregion I (norr)',
    'Länsregion II (mitten)',
    'Länsregion III (syd)']},
  {'code': 'BruttoNetto',
   'text': 'brutto-/nettopris',
   'values': ['1', '2'],
   'valueTexts': ['brutto', 'netto']},
  {'code': 'ContentsCode',
   'text': 'tabellinnehåll',
   'values': ['000003I5',
    '000003I3',
    '000003I1',
    '000003I4',
    '000003I2',
    '000003I6'],
   'valueTexts': ['Byggnadsobjekt, antal som prisstatistiken baseras på',
    'Lägenheter, antal som prisstatistiken baseras på',
    'Lägenhetsarea/lägenhet, kvm',
    'Markpris/lägenhetsarea, kr',
    'Byggnadspris/lägenhetsarea, kr',
    'Totalt produktionspris/lägenhetsarea, kr']},
  {'code': 'Tid',
   'text': 'år',
   'values': ['1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023'],
   'valueTexts': ['1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023'],
   'time': True}]}

In [5]:
scb.get_variables()

{'region': ['Riket',
  'Storstadsområdena',
  'Stor-Stockholm',
  'Stor-Göteborg',
  'Stor-Malmö',
  'Länsregionerna I - III',
  'Länsregion I (norr)',
  'Länsregion II (mitten)',
  'Länsregion III (syd)'],
 'brutto-/nettopris': ['brutto', 'netto'],
 'tabellinnehåll': ['Byggnadsobjekt, antal som prisstatistiken baseras på',
  'Lägenheter, antal som prisstatistiken baseras på',
  'Lägenhetsarea/lägenhet, kvm',
  'Markpris/lägenhetsarea, kr',
  'Byggnadspris/lägenhetsarea, kr',
  'Totalt produktionspris/lägenhetsarea, kr'],
 'år': ['1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '2023']}

In [6]:
scb_data=scb.get_data()

In [7]:
scb_data

{'columns': [{'code': 'Region', 'text': 'region', 'type': 'd'},
  {'code': 'BruttoNetto',
   'text': 'brutto-/nettopris',
   'comment': 'I brutto har priserna inte justerats med bidrag. I netto har priserna justerats med bidrag.\r\n',
   'type': 'd'},
  {'code': 'Tid', 'text': 'år', 'type': 't'},
  {'code': '000003I5',
   'text': 'Byggnadsobjekt, antal som prisstatistiken baseras på',
   'type': 'c'},
  {'code': '000003I3',
   'text': 'Lägenheter, antal som prisstatistiken baseras på',
   'type': 'c'},
  {'code': '000003I1', 'text': 'Lägenhetsarea/lägenhet, kvm', 'type': 'c'},
  {'code': '000003I4', 'text': 'Markpris/lägenhetsarea, kr', 'type': 'c'},
  {'code': '000003I2', 'text': 'Byggnadspris/lägenhetsarea, kr', 'type': 'c'},
  {'code': '000003I6',
   'text': 'Totalt produktionspris/lägenhetsarea, kr',
   'type': 'c'}],
 'comments': [],
 'data': [{'key': ['00', '1', '2002'],
   'values': ['189', '7598', '83.6', '3700', '19774', '23474']},
  {'key': ['00', '1', '2012'],
   'values': ['243', '12577', '75.7', '7793', '28623', '36416']},
  {'key': ['00', '1', '2022'],
   'values': ['345', '25208', '60.2', '8828', '34596', '43425']},
  {'key': ['00', '2', '2002'],
   'values': ['189', '7598', '83.6', '3691', '19314', '23005']},
  {'key': ['00', '2', '2012'],
   'values': ['243', '12577', '75.7', '7793', '28619', '36412']},
  {'key': ['00', '2', '2022'],
   'values': ['345', '25208', '60.2', '8828', '33819', '42648']},
  {'key': ['0010', '1', '2002'],
   'values': ['58', '3117', '86.6', '5693', '23664', '29357']},
  {'key': ['0010', '1', '2012'],
   'values': ['80', '5376', '77.1', '10857', '31622', '42479']},
  {'key': ['0010', '1', '2022'],
   'values': ['64', '7165', '60.3', '13763', '38717', '52481']},
  {'key': ['0010', '2', '2002'],
   'values': ['58', '3117', '86.6', '5689', '23408', '29097']},
  {'key': ['0010', '2', '2012'],
   'values': ['80', '5376', '77.1', '10857', '31617', '42474']},
  {'key': ['0010', '2', '2022'],
   'values': ['64', '7165', '60.3', '13763', '38431', '52194']},
  {'key': ['0020', '1', '2002'],
   'values': ['21', '1201', '77.9', '2783', '20583', '23366']},
  {'key': ['0020', '1', '2012'],
   'values': ['32', '1713', '72.8', '8334', '28537', '36871']},
  {'key': ['0020', '1', '2022'],
   'values': ['41', '3893', '59.8', '9894', '33804', '43698']},
  {'key': ['0020', '2', '2002'],
   'values': ['21', '1201', '77.9', '2774', '19890', '22664']},
  {'key': ['0020', '2', '2012'],
   'values': ['32', '1713', '72.8', '8334', '28530', '36864']},
  {'key': ['0020', '2', '2022'],
   'values': ['41', '3893', '59.8', '9894', '33804', '43698']},
  {'key': ['0030', '1', '2002'],
   'values': ['16', '364', '91.4', '3226', '19291', '22518']},
  {'key': ['0030', '1', '2012'],
   'values': ['21', '1082', '76.2', '5637', '26581', '32218']},
  {'key': ['0030', '1', '2022'],
   'values': ['34', '2230', '62.3', '8084', '35396', '43480']},
  {'key': ['0030', '2', '2002'],
   'values': ['16', '364', '91.4', '3194', '18639', '21833']},
  {'key': ['0030', '2', '2012'],
   'values': ['21', '1082', '76.2', '5637', '26581', '32218']},
  {'key': ['0030', '2', '2022'],
   'values': ['34', '2230', '62.3', '8084', '33994', '42078']}],
 'metadata': [{'infofile': 'BO0201',
   'updated': '2024-12-02T07:49:00Z',
   'label': 'Nybyggda ordinära flerbostadshus efter region, brutto-/nettopris, år och tabellinnehåll',
   'source': 'SCB'}]}

In [8]:
scb_uttag = scb_data['data']

In [9]:
scb_uttag

[{'key': ['00', '1', '2002'],
  'values': ['189', '7598', '83.6', '3700', '19774', '23474']},
 {'key': ['00', '1', '2012'],
  'values': ['243', '12577', '75.7', '7793', '28623', '36416']},
 {'key': ['00', '1', '2022'],
  'values': ['345', '25208', '60.2', '8828', '34596', '43425']},
 {'key': ['00', '2', '2002'],
  'values': ['189', '7598', '83.6', '3691', '19314', '23005']},
 {'key': ['00', '2', '2012'],
  'values': ['243', '12577', '75.7', '7793', '28619', '36412']},
 {'key': ['00', '2', '2022'],
  'values': ['345', '25208', '60.2', '8828', '33819', '42648']},
 {'key': ['0010', '1', '2002'],
  'values': ['58', '3117', '86.6', '5693', '23664', '29357']},
 {'key': ['0010', '1', '2012'],
  'values': ['80', '5376', '77.1', '10857', '31622', '42479']},
 {'key': ['0010', '1', '2022'],
  'values': ['64', '7165', '60.3', '13763', '38717', '52481']},
 {'key': ['0010', '2', '2002'],
  'values': ['58', '3117', '86.6', '5689', '23408', '29097']},
 {'key': ['0010', '2', '2012'],
  'values': ['80', '5376', '77.1', '10857', '31617', '42474']},
 {'key': ['0010', '2', '2022'],
  'values': ['64', '7165', '60.3', '13763', '38431', '52194']},
 {'key': ['0020', '1', '2002'],
  'values': ['21', '1201', '77.9', '2783', '20583', '23366']},
 {'key': ['0020', '1', '2012'],
  'values': ['32', '1713', '72.8', '8334', '28537', '36871']},
 {'key': ['0020', '1', '2022'],
  'values': ['41', '3893', '59.8', '9894', '33804', '43698']},
 {'key': ['0020', '2', '2002'],
  'values': ['21', '1201', '77.9', '2774', '19890', '22664']},
 {'key': ['0020', '2', '2012'],
  'values': ['32', '1713', '72.8', '8334', '28530', '36864']},
 {'key': ['0020', '2', '2022'],
  'values': ['41', '3893', '59.8', '9894', '33804', '43698']},
 {'key': ['0030', '1', '2002'],
  'values': ['16', '364', '91.4', '3226', '19291', '22518']},
 {'key': ['0030', '1', '2012'],
  'values': ['21', '1082', '76.2', '5637', '26581', '32218']},
 {'key': ['0030', '1', '2022'],
  'values': ['34', '2230', '62.3', '8084', '35396', '43480']},
 {'key': ['0030', '2', '2002'],
  'values': ['16', '364', '91.4', '3194', '18639', '21833']},
 {'key': ['0030', '2', '2012'],
  'values': ['21', '1082', '76.2', '5637', '26581', '32218']},
 {'key': ['0030', '2', '2022'],
  'values': ['34', '2230', '62.3', '8084', '33994', '42078']}]

In [10]:
scb.get_query()

{'query': [{'code': 'Region',
   'selection': {'filter': 'item', 'values': ['00', '0010', '0020', '0030']}},
  {'code': 'Tid',
   'selection': {'filter': 'item', 'values': ['2002', '2012', '2022']}}],
 'response': {'format': 'json'}}

In [11]:
scb.get_data()["columns"]

[{'code': 'Region', 'text': 'region', 'type': 'd'},
 {'code': 'BruttoNetto',
  'text': 'brutto-/nettopris',
  'comment': 'I brutto har priserna inte justerats med bidrag. I netto har priserna justerats med bidrag.\r\n',
  'type': 'd'},
 {'code': 'Tid', 'text': 'år', 'type': 't'},
 {'code': '000003I5',
  'text': 'Byggnadsobjekt, antal som prisstatistiken baseras på',
  'type': 'c'},
 {'code': '000003I3',
  'text': 'Lägenheter, antal som prisstatistiken baseras på',
  'type': 'c'},
 {'code': '000003I1', 'text': 'Lägenhetsarea/lägenhet, kvm', 'type': 'c'},
 {'code': '000003I4', 'text': 'Markpris/lägenhetsarea, kr', 'type': 'c'},
 {'code': '000003I2', 'text': 'Byggnadspris/lägenhetsarea, kr', 'type': 'c'},
 {'code': '000003I6',
  'text': 'Totalt produktionspris/lägenhetsarea, kr',
  'type': 'c'}]

In [12]:
import pandas as pd

data=scb.get_data()["data"]
pd.DataFrame(data)

                key                                  values
0     [00, 1, 2002]   [189, 7598, 83.6, 3700, 19774, 23474]
1     [00, 1, 2012]  [243, 12577, 75.7, 7793, 28623, 36416]
2     [00, 1, 2022]  [345, 25208, 60.2, 8828, 34596, 43425]
3     [00, 2, 2002]   [189, 7598, 83.6, 3691, 19314, 23005]
4     [00, 2, 2012]  [243, 12577, 75.7, 7793, 28619, 36412]
5     [00, 2, 2022]  [345, 25208, 60.2, 8828, 33819, 42648]
6   [0010, 1, 2002]    [58, 3117, 86.6, 5693, 23664, 29357]
7   [0010, 1, 2012]   [80, 5376, 77.1, 10857, 31622, 42479]
8   [0010, 1, 2022]   [64, 7165, 60.3, 13763, 38717, 52481]
9   [0010, 2, 2002]    [58, 3117, 86.6, 5689, 23408, 29097]
10  [0010, 2, 2012]   [80, 5376, 77.1, 10857, 31617, 42474]
11  [0010, 2, 2022]   [64, 7165, 60.3, 13763, 38431, 52194]
12  [0020, 1, 2002]    [21, 1201, 77.9, 2783, 20583, 23366]
13  [0020, 1, 2012]    [32, 1713, 72.8, 8334, 28537, 36871]
14  [0020, 1, 2022]    [41, 3893, 59.8, 9894, 33804, 43698]
15  [0020, 2, 2002]    [21, 1201, 77.9, 2774, 19890, 22664]
16  [0020, 2, 2012]    [32, 1713, 72.8, 8334, 28530, 36864]
17  [0020, 2, 2022]    [41, 3893, 59.8, 9894, 33804, 43698]
18  [0030, 1, 2002]     [16, 364, 91.4, 3226, 19291, 22518]
19  [0030, 1, 2012]    [21, 1082, 76.2, 5637, 26581, 32218]
20  [0030, 1, 2022]    [34, 2230, 62.3, 8084, 35396, 43480]
21  [0030, 2, 2002]     [16, 364, 91.4, 3194, 18639, 21833]
22  [0030, 2, 2012]    [21, 1082, 76.2, 5637, 26581, 32218]
23  [0030, 2, 2022]    [34, 2230, 62.3, 8084, 33994, 42078]

In [13]:
import pandas as pd

# Hämta data från SCB API
data = scb.get_data()["data"]  # Detta bör vara en lista
# Omvandla listan till en DataFrame
df = pd.DataFrame(data)

# Kontrollera DataFrame
print(df.head())

# Spara till JSON
df.to_csv("dataresult.csv", index=False)

print("CSV-fil skapad: dataresult.csv")

             key                                  values
0  [00, 1, 2002]   [189, 7598, 83.6, 3700, 19774, 23474]
1  [00, 1, 2012]  [243, 12577, 75.7, 7793, 28623, 36416]
2  [00, 1, 2022]  [345, 25208, 60.2, 8828, 34596, 43425]
3  [00, 2, 2002]   [189, 7598, 83.6, 3691, 19314, 23005]
4  [00, 2, 2012]  [243, 12577, 75.7, 7793, 28619, 36412]
CSV-fil skapad: dataresult.csv